Client/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Server.Model.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_RegisterMeasurer_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMeasurer" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterMeasurer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterMeasurerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddMeasurement_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMeasurement" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocations" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMeasurementDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeasurementDate" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMeasurementDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeasurementDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMeasurementValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeasurementValue" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMeasurementValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeasurementValueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAverageTemperature_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAverageTemperature" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAverageTemperature_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAverageTemperatureResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTime" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterObserver_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterObserver" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="RegisterMeasurer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterMeasurer" message="tns:IService1_RegisterMeasurer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterMeasurerResponse" message="tns:IService1_RegisterMeasurer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMeasurement">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddMeasurement" message="tns:IService1_AddMeasurement_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLocations" message="tns:IService1_GetLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLocationsResponse" message="tns:IService1_GetLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClients" message="tns:IService1_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClientsResponse" message="tns:IService1_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeasurementDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMeasurementDate" message="tns:IService1_GetMeasurementDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMeasurementDateResponse" message="tns:IService1_GetMeasurementDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeasurementValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMeasurementValue" message="tns:IService1_GetMeasurementValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMeasurementValueResponse" message="tns:IService1_GetMeasurementValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAverageTemperature">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAverageTemperature" message="tns:IService1_GetAverageTemperature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAverageTemperatureResponse" message="tns:IService1_GetAverageTemperature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTime" message="tns:IService1_GetTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTimeResponse" message="tns:IService1_GetTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterObserver">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterObserver" message="tns:IService1_RegisterObserver_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterMeasurer">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterMeasurer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMeasurement">
      <soap:operation soapAction="http://tempuri.org/IService1/AddMeasurement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetLocations">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeasurementDate">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMeasurementDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeasurementValue">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMeasurementValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAverageTemperature">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAverageTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterObserver">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterObserver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Server/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>